In [1]:
import pandas as pd
import numpy as np
import requests
from io import BytesIO
import time
from datetime import date, datetime, timedelta
import random

In [2]:
# Import packages
import yfinance as yf

# Read and print the stock tickers that make up S&P500
df_tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
df_tickers = df_tickers.rename(columns={'Symbol':'ticker'})
# Make sure GOOG and GOOGL are not both included
df_tickers = df_tickers[df_tickers['ticker'] != 'GOOG']

random.seed(1993)
# Get stratified random 17 samples per sector
df_tickers_sample = df_tickers.groupby('GICS Sector', group_keys=False).apply(lambda x: x.sample(17))

# Manually add few tech tickers
df_tickers_sample = pd.concat([df_tickers_sample, df_tickers[df_tickers['ticker'].isin(['META', 'AAPL', 'NFLX', 'GOOGL', 'AMZN', 'TSLA'])]])
df_tickers_sample = df_tickers_sample.drop_duplicates(subset='ticker')
tickers = list(df_tickers_sample['ticker'])

C:\Users\18327\AppData\Local\Temp\ipykernel_26052\1878158066.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_tickers_sample = df_tickers.groupby('GICS Sector', group_keys=False).apply(lambda x: x.sample(17))

In [3]:
# Custom Tickers
tickers.extend(['BTC/USD', 'ETH/USD', 'XRP/USD', 'LTC/USD', 'ADA/USD', 'MATIC/USD'])

In [4]:
# Twelve Data
api_key = twelve_data_api

data_frames = []

for ticker in tickers:
        
    try:
        # Get Earliest Date
        url = f'https://api.twelvedata.com/earliest_timestamp?symbol={ticker}&interval=1day&apikey={api_key}'
        r = requests.get(url)
        
        start_date = r.text.split('"')[3]
        end_date = date.today().strftime('%Y-%m-%d')
        total_days = (pd.to_datetime(end_date) - pd.to_datetime(start_date)).days
        
        batch_size = np.ceil(total_days / 5000).astype(int)
        
        l_dates = []      
        
        # If multiple batches, append start and end dates for every 5000 days
        if batch_size > 1:  
            for i in range(batch_size-1):
                l_dates.append((pd.to_datetime(end_date)  - timedelta(days=(5000 * i))).strftime('%Y-%m-%d'))
            l_dates.append(start_date)
        else:
            l_dates.append(end_date)
            l_dates.append(start_date)
        
        # Check how many credits are left, and pause for 60 seconds to reset Twelve Data's limit
        api_credit = r.headers['Api-Credits-Left']
        if api_credit == '0':
            time.sleep(61)
        
        for i in range(batch_size):
            try:
                batch_end = l_dates[i]
                batch_start = l_dates[i+1]
                
                # Make sure date range don't overlap throughout the loop
                if (i > 0):
                    batch_end = (pd.to_datetime(batch_end) - timedelta(days=1)).strftime('%Y-%m-%d')
                
                url = f'https://api.twelvedata.com/time_series?&start_date={batch_start}&end_date={batch_end}&symbol={ticker}&format=CSV&interval=1day&apikey={api_key}'
                r = requests.get(url)

                # Decode bytes into a string
                data_string = r.content.decode('utf-8')

                # Use StringIO to treat the string as a file-like object
                data_file = BytesIO(data_string.encode())
                
                # Union the new data to data from previous iteration. 
                data = pd.read_csv(data_file, delimiter=';')
                data['ticker'] = ticker
                
                # Append data to list
                data_frames.append(data)
                
                # Check how many credits are left, and pause for 60 seconds to reset Twelve Data's limit
                api_credit = r.headers['Api-Credits-Left']
                if api_credit == '0':
                    time.sleep(61)
                
            except:
                pass
        
        print(data_frames[-1])

    except:
        print(f"Couldn't download {ticker}.")

df_final = pd.concat([i for i in data_frames if len(i) > 0])

merge_cols = ['GICS Sector', 'GICS Sub-Industry', 'Headquarters Location', 'Date added', 'Founded'] # 'CIK'
df_model = df_final.merge(df_tickers, on='ticker', how='left')
df_model.to_csv(f'data/{date.today().strftime("%Y-%m-%d")}.csv', index=False)

        datetime   open   high    low  close   volume ticker
0     2024-04-19  24.92  25.01  24.72  24.78   490400    NWS
1     2024-04-18  24.93  25.37  24.75  24.81   659100    NWS
2     2024-04-17  25.00  25.09  24.92  24.95   969800    NWS
3     2024-04-16  24.84  24.99  24.67  24.82   531200    NWS
4     2024-04-15  25.35  25.49  24.95  25.00   685800    NWS
...          ...    ...    ...    ...    ...      ...    ...
2723  2013-06-25  15.50  15.67  15.35  15.66   564400    NWS
2724  2013-06-24  15.79  15.79  15.19  15.52   758300    NWS
2725  2013-06-21  15.98  15.98  15.46  15.80   635300    NWS
2726  2013-06-20  16.25  16.30  15.36  15.44  1874600    NWS
2727  2013-06-19  15.21  16.03  14.96  15.53  7717000    NWS

[2728 rows x 7 columns]
        datetime   open    high    low  close    volume ticker
0     2024-04-19  30.89  31.520  30.87  31.39   2298600   FOXA
1     2024-04-18  30.63  30.910  30.39  30.77   2029300   FOXA
2     2024-04-17  30.64  30.750  30.30  30.46   2107200   FOXA
3     2024-04-16  30.31  30.600  30.08  30.40   3131000   FOXA
4     2024-04-15  30.09  31.045  30.02  30.35   4615300   FOXA
...          ...    ...     ...    ...    ...       ...    ...
1284  2019-03-14  39.75  41.400  39.75  40.65   6248563   FOXA
1285  2019-03-13  39.00  39.900  38.70  39.75  20477364   FOXA
1286  2019-03-12  38.00  38.000  38.00  38.00     10000   FOXA
1287  2019-03-12  38.00  38.000  38.00  38.00     10000   FOXA
1288  2019-03-11  38.00  38.000  38.00  38.00     10000   FOXA

[1289 rows x 7 columns]
        datetime   open   high     low  close   volume ticker
0     2024-04-19  28.46  28.98  28.460  28.87  1084000    FOX
1     2024-04-18  28.13  28.40  27.990  28.29   622100    FOX
2     2024-04-17  28.03  28.22  27.845  27.99  1015800    FOX
3     2024-04-16  27.90  28.13  27.645  27.95  1172900    FOX
4     2024-04-15  27.87  28.51  27.640  27.92  1080600    FOX
...          ...    ...    ...     ...    ...      ...    ...
1283  2019-03-15  40.55  41.05  40.500  41.02   164177    FOX
1284  2019-03-14  39.50  40.65  39.320  39.96   279685    FOX
1285  2019-03-13  38.60  39.30  38.000  39.20   305985    FOX
1286  2019-03-13  38.60  39.30  38.000  39.20   305985    FOX
1287  2019-03-12  38.60  39.30  38.000  39.20   305985    FOX

[1288 rows x 7 columns]
        datetime    open    high    low  close    volume ticker
0     2024-04-19   89.98   90.52  89.15  89.96   2531800    LYV
1     2024-04-18   91.36   91.88  89.62  89.64   3452600    LYV
2     2024-04-17   92.75   94.53  91.55  91.82   4480100    LYV
3     2024-04-16   90.99   94.28  90.61  92.21  10064000    LYV
4     2024-04-15  101.95  102.72  99.19  99.77   1965600    LYV
...          ...     ...     ...    ...    ...       ...    ...
4608  2005-12-27   12.20   12.79  12.13  12.50   3324100    LYV
4609  2005-12-23   10.90   12.78  10.90  11.95   8844700    LYV
4610  2005-12-22   10.60   11.12  10.59  10.60   4152500    LYV
4611  2005-12-21   11.00   11.05  10.55  10.85   5796900    LYV
4612  2005-12-21   11.00   11.05  10.55  10.85   5796900    LYV

[4613 rows x 7 columns]
        datetime      open      high       low     close    volume ticker
0     2010-08-10  20.17372  20.45317  20.13595  20.40030  35279436      T
1     2010-08-09  20.14351  20.36254  20.08308  20.28701  29709236      T
2     2010-08-06  20.03776  20.12840  19.81118  20.04532  34955321      T
3     2010-08-05  20.02266  20.31722  20.02266  20.19637  31128696      T
4     2010-08-04  20.10574  20.20393  19.93202  20.12085  34640606      T
...          ...       ...       ...       ...       ...       ...    ...
4995  1990-10-15  10.07836  10.47961  10.07836  10.45601   3821064      T
4996  1990-10-12   9.93674  10.33799   9.86594  10.14917   2360957      T
4997  1990-10-11   9.79513   9.88954   9.79513   9.86594   2017246      T
4998  1990-10-10  10.00755  10.05476   9.74792   9.77153   2729029      T
4999  1990-10-09  10.12557  10.17277   9.96035  10.00755   1832946      T

[5000 rows x 7 columns]
        datetime   open   high    low    close  volume ticker
0     1996-11-29  11.17  11.25  11.08  11.0800   73650  CMCSA
1     1996-11-27  11.08  11.25  10.92  11.2100  283350  CMCSA
2     1996-11-26  11.17  11.17  10.92  10.9600  544350  CMCSA
3     1996-11-25  11.33  11.42  11.17  11.1700  521700  CMCSA
4     1996-11-22  11.08  11.42  11.08  11.2500  608100  CMCSA
...          ...    ...    ...    ...      ...     ...    ...
4215  1980-03-19   1.30   1.36   1.30   1.3000   54675  CMCSA
4216  1980-03-18   1.32   1.37   1.32   1.3200   39315  CMCSA
4217  1980-03-17   1.32   1.37   1.32   1.3200   10269  CMCSA
4218  1970-01-01  56.78  56.78  56.19  56.2437  783638  CMCSA
4219  1970-01-01  56.78  56.78  56.19  56.2437  783638  CMCSA

[4220 rows x 7 columns]
        datetime   open   high    low  close    volume ticker
0     2010-08-10  29.73  30.14  29.56  30.02  14874572     VZ
1     2010-08-09  29.69  30.06  29.62  29.86  15345172     VZ
2     2010-08-06  29.40  29.57  29.19  29.55  13054852     VZ
3     2010-08-05  29.26  29.76  29.25  29.55  13572211     VZ
4     2010-08-04  29.70  29.70  29.10  29.40  17320720     VZ
...          ...    ...    ...    ...    ...       ...    ...
4995  1990-10-15  22.13  22.19  21.68  22.13   1488600     VZ
4996  1990-10-12  21.40  21.63  20.62  21.40   1076400     VZ
4997  1990-10-11  20.68  21.01  20.68  20.68   1008800     VZ
4998  1990-10-10  20.84  21.52  20.73  20.84   1180800     VZ
4999  1990-10-09  21.52  21.85  21.52  21.52    757400     VZ

[5000 rows x 7 columns]
        datetime   open   high    low  close    volume ticker
0     2024-04-19  11.94  12.58  11.67  12.44  45223800   PARA
1     2024-04-18  10.79  11.18  10.76  10.97  11669400   PARA
2     2024-04-17  10.50  10.90  10.49  10.81  11543100   PARA
3     2024-04-16  10.70  10.83  10.37  10.43  14883100   PARA
4     2024-04-15  10.93  11.09  10.75  10.90  18417000   PARA
...          ...    ...    ...    ...    ...       ...    ...
4620  2005-12-08  25.53  25.75  25.10  25.39   2100700   PARA
4621  2005-12-07  26.00  26.00  25.25  25.55   1536400   PARA
4622  2005-12-06  26.85  26.85  25.75  25.76   1743800   PARA
4623  2005-12-05  30.00  30.00  26.70  26.70   1087800   PARA
4624  2005-12-05  30.00  30.00  26.70  26.70   1087800   PARA

[4625 rows x 7 columns]
        datetime       open       high     low      close    volume ticker
0     2024-04-19  161.46001  162.39000  160.70  162.33000   5005900   TMUS
1     2024-04-18  160.06000  161.50999  160.06  160.85001   3246600   TMUS
2     2024-04-17  159.58000  160.64999  159.41  160.09000   4098300   TMUS
3     2024-04-16  160.60001  160.60001  159.14  159.78999   3810400   TMUS
4     2024-04-15  162.00000  162.00000  159.38  159.82001   4494600   TMUS
...          ...        ...        ...     ...        ...       ...    ...
4276  2007-04-25   59.10000   59.50000   57.02   57.22000   1225350   TMUS
4277  2007-04-24   57.02000   58.80000   57.02   58.40000   1532950   TMUS
4278  2007-04-23   57.20000   57.88000   56.58   57.50000   1876400   TMUS
4279  2007-04-20   54.80000   57.60000   54.20   57.10000   3054700   TMUS
4280  2007-04-19   50.20000   55.22000   49.00   54.80000  15862400   TMUS

[4281 rows x 7 columns]
        datetime   open   high    low  close   volume ticker
0     2024-04-19  24.03  24.11  23.95  24.02  1433500   NWSA
1     2024-04-18  24.31  24.35  23.98  24.03  1358200   NWSA
2     2024-04-17  24.31  24.36  24.14  24.15  1565400   NWSA
3     2024-04-16  24.13  24.26  23.94  24.10  1540200   NWSA
4     2024-04-15  24.58  24.75  24.19  24.28  2219500   NWSA
...          ...    ...    ...    ...    ...      ...    ...
3234  2011-06-14  16.43  16.49  16.34  16.38  3860384   NWSA
3235  2011-06-13  16.43  16.49  16.17  16.25  3804177   NWSA
3236  2011-06-10  16.69  16.71  16.31  16.38  4961962   NWSA
3237  2011-06-09  16.70  16.90  16.67  16.80  3210361   NWSA
3238  2011-06-09  16.70  16.90  16.67  16.80  3210361   NWSA

[3239 rows x 7 columns]
        datetime     open     high      low    close   volume ticker
0     2010-08-10  7.13021  7.31296  7.08452  7.27584  6090328   MTCH
1     2010-08-09  7.15591  7.22444  7.11879  7.17019  4341780   MTCH
2     2010-08-06  7.12736  7.23872  7.07596  7.15306  3435112   MTCH
3     2010-08-05  7.16448  7.23872  7.13592  7.19018  4847118   MTCH
4     2010-08-04  7.19874  7.33295  7.17875  7.21017  5818923   MTCH
...          ...      ...      ...      ...      ...      ...    ...
4419  1993-01-25  0.31146  0.36338  0.31146  0.32877   959337   MTCH
4420  1993-01-22  0.34607  0.34607  0.31146  0.34607    83798   MTCH
4421  1993-01-21  0.34607  0.34607  0.31146  0.31146   124252   MTCH
4422  1993-01-20  0.34607  0.34607  0.31146  0.31146   297626   MTCH
4423  1993-01-19  0.31146  0.34607  0.31146  0.31146  3697205   MTCH

[4424 rows x 7 columns]
        datetime       open       high        low      close     volume ticker
0     2024-04-19  156.20000  156.36000  152.30000  154.09000   32239100  GOOGL
1     2024-04-18  155.34000  156.94000  154.62000  156.00999   19883000  GOOGL
2     2024-04-17  155.62000  157.08000  154.58000  155.47000   21763100  GOOGL
3     2024-04-16  154.19000  155.64999  153.42999  154.39999   20779500  GOOGL
4     2024-04-15  158.86000  159.24001  154.59000  154.86000   27136500  GOOGL
...          ...        ...        ...        ...        ...        ...    ...
4946  2004-08-25    2.62663    2.70270    2.59960    2.65265  183772044  GOOGL
4947  2004-08-24    2.78378    2.79279    2.59184    2.62437  304946748  GOOGL
4948  2004-08-23    2.77152    2.83984    2.72898    2.73774  365122512  GOOGL
4949  2004-08-20    2.52778    2.72973    2.51501    2.71046  456686856  GOOGL
4950  2004-08-19    2.50250    2.60410    2.40140    2.51101  893181924  GOOGL

[4951 rows x 7 columns]
        datetime     open     high      low    close    volume ticker
0     2024-04-19  8.33000  8.50000  8.29000  8.40000  26344200    WBD
1     2024-04-18  8.25000  8.39000  8.19000  8.31000  22111500    WBD
2     2024-04-17  8.23000  8.35000  8.17000  8.23000  19760800    WBD
3     2024-04-16  8.33000  8.34000  8.06000  8.14000  33900600    WBD
4     2024-04-15  8.38000  8.52000  8.35000  8.36000  27258900    WBD
...          ...      ...      ...      ...      ...       ...    ...
4723  2005-07-14  8.17578  8.17578  8.07358  8.12468   2311608    WBD
4724  2005-07-13  8.30353  8.30353  8.12468  8.12468   1233889    WBD
4725  2005-07-12  8.02248  8.32907  7.97139  8.25243   1230170    WBD
4726  2005-07-11  7.81809  7.89474  7.71589  7.84364   1382425    WBD
4727  2005-07-08  7.92029  8.04803  7.53705  7.81809   4067624    WBD

[4728 rows x 7 columns]
        datetime       open       high        low      close   volume ticker
0     2024-04-19  260.01001  265.70999  259.70001  265.20999  1160300   CHTR
1     2024-04-18  258.57999  261.10001  255.70000  259.91000   855900   CHTR
2     2024-04-17  260.25000  265.26001  257.62000  258.03000   997500   CHTR
3     2024-04-16  256.01999  258.78000  254.31000  257.57001  1095700   CHTR
4     2024-04-15  261.89001  264.23001  255.38000  256.89999  1265100   CHTR
...          ...        ...        ...        ...        ...      ...    ...
3593  2010-01-08   34.55000   34.55000   33.50000   33.50000    32200   CHTR
3594  2010-01-07   35.25000   35.50000   35.00000   35.00000     9800   CHTR
3595  2010-01-06   35.00000   35.00000   35.00000   35.00000        0   CHTR
3596  2010-01-05   35.00000   35.00000   35.00000   35.00000    10000   CHTR
3597  2010-01-05   35.00000   35.00000   35.00000   35.00000    10000   CHTR

[3598 rows x 7 columns]
        datetime   open      high       low     close  volume ticker
0     1996-11-29  16.46  16.54000  16.42000  16.50000  134100    IPG
1     1996-11-27  16.67  16.67000  16.38000  16.42000  367800    IPG
2     1996-11-26  16.50  16.71000  16.38000  16.67000  535200    IPG
3     1996-11-25  16.17  16.50000  16.13000  16.50000  584400    IPG
4     1996-11-22  16.13  16.33000  16.08000  16.25000  455100    IPG
...          ...    ...       ...       ...       ...     ...    ...
4198  1980-03-20   0.78   0.78000   0.78000   0.78000   28799    IPG
4199  1980-03-19   0.78   0.78000   0.78000   0.78000  115199    IPG
4200  1980-03-18   0.78   0.78000   0.78000   0.78000  327599    IPG
4201  1980-03-17   0.78   0.80000   0.78000   0.78000   43199    IPG
4202  1980-03-17   0.00   0.79514   0.78472   0.78472   43200    IPG

[4203 rows x 7 columns]
        datetime   open    high    low  close    volume ticker
0     1996-11-29   8.09   8.090   8.03   8.03    290400     EA
1     1996-11-27   8.28   8.310   8.03   8.09   2354800     EA
2     1996-11-26   8.16   8.310   7.94   8.22   4965600     EA
3     1996-11-25   8.06   8.190   7.94   8.12   2078800     EA
4     1996-11-22   7.97   8.220   7.91   8.03   4514000     EA
...          ...    ...     ...    ...    ...       ...    ...
1818  1989-09-21   0.50   0.510   0.50   0.50   6224000     EA
1819  1989-09-20   0.52   0.530   0.52   0.52  15396800     EA
1820  1989-09-20   0.52   0.530   0.52   0.52  15396800     EA
1821  1970-01-01  67.73  67.907  67.02  67.31    257108     EA
1822  1969-12-31  67.73  67.907  67.02  67.31    257108     EA

[1823 rows x 7 columns]
        datetime   open      high       low     close  volume ticker
0     1996-11-29  12.91  12.91000  12.75000  12.75000  106800    OMC
1     1996-11-27  12.88  13.03000  12.84000  12.88000  378800    OMC
2     1996-11-26  12.75  12.92000  12.75000  12.88000  349200    OMC
3     1996-11-25  12.59  12.81000  12.59000  12.72000  594000    OMC
4     1996-11-22  12.50  12.72000  12.50000  12.59000  479200    OMC
...          ...    ...       ...       ...       ...     ...    ...
4201  1980-03-20   1.53   1.58000   1.53000   1.53000   11200    OMC
4202  1980-03-19   1.55   1.59000   1.55000   1.55000   40000    OMC
4203  1980-03-18   1.53   1.58000   1.53000   1.53000   81600    OMC
4204  1980-03-17   1.53   1.58000   1.53000   1.53000   25600    OMC
4205  1980-03-17   0.00   1.57812   1.53125   1.53125   25600    OMC

[4206 rows x 7 columns]
        datetime      open      high       low     close   volume ticker
0     1996-11-29  23.31000  23.50000  23.19000  23.38000  1865600    MCD
1     1996-11-27  23.56000  23.69000  23.06000  23.06000  3765400    MCD
2     1996-11-26  23.62000  23.75000  23.38000  23.50000  8409800    MCD
3     1996-11-25  23.88000  24.19000  23.62000  23.75000  3848800    MCD
4     1996-11-22  24.25000  24.31000  23.75000  23.94000  3687000    MCD
...          ...       ...       ...       ...       ...      ...    ...
4995  1977-03-02   1.12963   1.12963   1.12037   1.12346  1559250    MCD
4996  1977-03-01   1.10494   1.12963   1.10494   1.12963  2025000    MCD
4997  1977-02-28   1.10802   1.11420   1.10185   1.10494  1729350    MCD
4998  1977-02-25   1.11728   1.12037   1.10494   1.10802  1599750    MCD
4999  1977-02-24   1.12654   1.12654   1.11420   1.11728  1790100    MCD

[5000 rows x 7 columns]
        datetime   open   high    low  close    volume ticker
0     2010-08-10  12.79  12.85  12.66  12.75   5318884   ROST
1     2010-08-09  12.65  12.92  12.63  12.85   6565404   ROST
2     2010-08-06  12.21  12.62  12.21  12.55  10760148   ROST
3     2010-08-05  13.05  13.12  12.18  12.65  17227184   ROST
4     2010-08-04  13.06  13.23  13.02  13.23   6615208   ROST
...          ...    ...    ...    ...    ...       ...    ...
4995  1990-10-15   0.15   0.16   0.15   0.15   5465600   ROST
4996  1990-10-12   0.16   0.16   0.15   0.16   1395200   ROST
4997  1990-10-11   0.16   0.16   0.15   0.16   4035200   ROST
4998  1990-10-10   0.16   0.16   0.14   0.16   2156800   ROST
4999  1990-10-09   0.14   0.17   0.14   0.14   2272000   ROST

[5000 rows x 7 columns]
        datetime        open        high         low       close  volume  \
0     2024-04-19  3460.51001  3478.18994  3405.15991  3414.82007  218800
1     2024-04-18  3470.00000  3485.15991  3424.13989  3430.13989  156700
2     2024-04-17  3472.97998  3493.40991  3430.57007  3443.90991  170900
3     2024-04-16  3470.53003  3497.46997  3450.79004  3467.77002  223300
4     2024-04-15  3583.07007  3625.22998  3480.97998  3485.62988  207600
...          ...         ...         ...         ...         ...     ...
4995  2004-06-16    27.87000    27.89000    27.50000    27.59000  517500
4996  2004-06-15    27.11000    28.00000    27.11000    27.67000  531000
4997  2004-06-14    26.80000    27.54000    26.79000    27.17000  586500
4998  2004-06-10    27.49000    27.83000    26.92000    27.07000  469700
4999  2004-06-09    27.86000    28.07000    27.34000    27.46000  741900

     ticker
0      BKNG
1      BKNG
2      BKNG
3      BKNG
4      BKNG
...     ...
4995   BKNG
4996   BKNG
4997   BKNG
4998   BKNG
4999   BKNG

[5000 rows x 7 columns]
        datetime   open   high    low  close    volume ticker
0     2024-04-19  68.19  68.19  66.65  66.76   2218600   ETSY
1     2024-04-18  65.35  67.46  65.28  67.34   3370600   ETSY
2     2024-04-17  68.50  69.35  66.14  67.49   2530900   ETSY
3     2024-04-16  66.45  69.69  66.15  68.36   3630800   ETSY
4     2024-04-15  66.92  69.06  66.42  66.73   3001400   ETSY
...          ...    ...    ...    ...    ...       ...    ...
2264  2015-04-22  26.00  26.24  24.95  25.12   1442500   ETSY
2265  2015-04-21  24.97  26.04  24.56  25.75   2184700   ETSY
2266  2015-04-20  28.77  28.90  24.87  24.90   3076200   ETSY
2267  2015-04-17  29.77  30.30  26.51  27.58   3965500   ETSY
2268  2015-04-16  31.00  35.74  28.22  30.00  19763300   ETSY

[2269 rows x 7 columns]
        datetime   open   high    low  close  volume ticker
0     1996-11-29  18.11  18.33  18.00  18.28  211950    HAS
1     1996-11-27  18.39  18.39  18.06  18.17  850050    HAS
2     1996-11-26  18.67  18.67  18.22  18.33  995400    HAS
3     1996-11-25  18.39  18.56  18.39  18.56  555975    HAS
4     1996-11-22  18.44  18.50  18.33  18.39  859500    HAS
...          ...    ...    ...    ...    ...     ...    ...
4156  1980-03-20   0.10   0.10   0.10   0.10   18857    HAS
4157  1980-03-19   0.10   0.10   0.09   0.10  106565    HAS
4158  1980-03-18   0.09   0.09   0.09   0.09   31387    HAS
4159  1980-03-17   0.10   0.10   0.10   0.10   12592    HAS
4160  1980-03-16   0.10   0.10   0.10   0.10   12592    HAS

[4161 rows x 7 columns]
        datetime      open      high       low     close   volume ticker
0     2010-08-10  49.20000  49.48000  48.02000  48.50000   640900   DECK
1     2010-08-09  50.02000  50.43000  49.44000  49.85000   538300   DECK
2     2010-08-06  49.16000  49.59000  48.23000  49.42000   666500   DECK
3     2010-08-05  49.77000  50.63000  49.20000  49.86000   428000   DECK
4     2010-08-04  50.09000  50.77000  49.42000  50.33000   627600   DECK
...          ...       ...       ...       ...       ...      ...    ...
4231  1993-10-21   7.00000   7.87500   7.00000   7.75000   996900   DECK
4232  1993-10-20   7.16667   7.41667   7.00000   7.08333   610200   DECK
4233  1993-10-19   7.41667   7.66667   7.16667   7.16667  1142100   DECK
4234  1993-10-18   7.33333   7.66667   7.25000   7.58333   951900   DECK
4235  1993-10-15   6.50000   8.00000   6.50000   7.33333  9098400   DECK

[4236 rows x 7 columns]
        datetime  open  high   low  close   volume ticker
0     1996-11-29  3.83  3.84  3.81   3.83   439200    PHM
1     1996-11-27  3.78  3.88  3.75   3.84  1265600    PHM
2     1996-11-26  3.73  3.78  3.72   3.77  1109600    PHM
3     1996-11-25  3.61  3.73  3.61   3.73   384800    PHM
4     1996-11-22  3.53  3.61  3.53   3.61  1655200    PHM
...          ...   ...   ...   ...    ...      ...    ...
4209  1980-03-20  0.18  0.18  0.18   0.18    70400    PHM
4210  1980-03-19  0.18  0.18  0.18   0.18   153600    PHM
4211  1980-03-18  0.18  0.18  0.18   0.18   230400    PHM
4212  1980-03-17  0.19  0.19  0.19   0.19    70400    PHM
4213  1980-03-17  0.19  0.19  0.19   0.19    70400    PHM

[4214 rows x 7 columns]

In [6]:
df_model.head()

,datetime,open,high,low,close,volume,ticker,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,2024-04-19,24.92,25.01,24.72,24.78,490400.0,NWS,News Corp (Class B),Communication Services,Publishing,"New York City, New York",2015-09-18,1564708.0,2013 (News Corporation 1980)
1,2024-04-18,24.93,25.37,24.75,24.81,659100.0,NWS,News Corp (Class B),Communication Services,Publishing,"New York City, New York",2015-09-18,1564708.0,2013 (News Corporation 1980)
2,2024-04-17,25.00,25.09,24.92,24.95,969800.0,NWS,News Corp (Class B),Communication Services,Publishing,"New York City, New York",2015-09-18,1564708.0,2013 (News Corporation 1980)
3,2024-04-16,24.84,24.99,24.67,24.82,531200.0,NWS,News Corp (Class B),Communication Services,Publishing,"New York City, New York",2015-09-18,1564708.0,2013 (News Corporation 1980)
4,2024-04-15,25.35,25.49,24.95,25.00,685800.0,NWS,News Corp (Class B),Communication Services,Publishing,"New York City, New York",2015-09-18,1564708.0,2013 (News Corporation 1980)