In [1]:
import pandas as pd
import numpy as np
import requests
from io import BytesIO
import time
from datetime import date, datetime, timedelta
import random
import os

In [11]:
# Import packages
import yfinance as yf

# Read and print the stock tickers that make up S&P500
df_tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
df_tickers = df_tickers.rename(columns={'Symbol':'ticker'})
# Make sure GOOG and GOOGL are not both included
df_tickers = df_tickers[df_tickers['ticker'] != 'GOOG']

try:
    df_available = pd.read_csv('data/data.csv')
    df_tickers = df_tickers[~df_tickers['ticker'].isin(df_available['ticker'])]
except:
    pass

random.seed(1993)
# Get stratified random 17 samples per sector
# df_tickers_sample = df_tickers.groupby('GICS Sector', group_keys=False).apply(lambda x: x.sample(17))
df_tickers_sample = df_tickers.sample(230)

tickers = list(df_tickers_sample['ticker'])

# Custom Tickers
# tickers.extend(['BTC/USD', 'ETH/USD', 'XRP/USD', 'LTC/USD', 'ADA/USD', 'MATIC/USD'])

C:\Users\18327\AppData\Local\Temp\ipykernel_8980\2910404954.py:11: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_available = pd.read_csv('data/data.csv')

In [13]:
# Twelve Data
api_key = twelve_data_api

data_frames = []

for ticker in tickers:
        
    try:
        # Get Earliest Date
        url = f'https://api.twelvedata.com/earliest_timestamp?symbol={ticker}&interval=1day&apikey={api_key}'
        r = requests.get(url)
        
        start_date = r.text.split('"')[3]
        end_date = date.today().strftime('%Y-%m-%d')
        total_days = (pd.to_datetime(end_date) - pd.to_datetime(start_date)).days
        
        batch_size = np.ceil(total_days / 5000).astype(int)
        
        l_dates = []      
        
        # If multiple batches, append start and end dates for every 5000 days
        if batch_size > 1:  
            for i in range(batch_size-1):
                l_dates.append((pd.to_datetime(end_date)  - timedelta(days=(5000 * i))).strftime('%Y-%m-%d'))
            l_dates.append(start_date)
        else:
            l_dates.append(end_date)
            l_dates.append(start_date)
        
        # Check how many credits are left, and pause for 60 seconds to reset Twelve Data's limit
        api_credit = r.headers['Api-Credits-Left']
        if api_credit == '0':
            time.sleep(61)
        
        for i in range(batch_size):
            try:
                batch_end = l_dates[i]
                batch_start = l_dates[i+1]
                
                # Make sure date range don't overlap throughout the loop
                if (i > 0):
                    batch_end = (pd.to_datetime(batch_end) - timedelta(days=1)).strftime('%Y-%m-%d')
                
                url = f'https://api.twelvedata.com/time_series?&start_date={batch_start}&end_date={batch_end}&symbol={ticker}&format=CSV&interval=1day&apikey={api_key}'
                r = requests.get(url)

                # Decode bytes into a string
                data_string = r.content.decode('utf-8')

                # Use StringIO to treat the string as a file-like object
                data_file = BytesIO(data_string.encode())
                
                # Union the new data to data from previous iteration. 
                data = pd.read_csv(data_file, delimiter=';')
                data['ticker'] = ticker
                
                # Append data to list
                data_frames.append(data)
                
                # Check how many credits are left, and pause for 60 seconds to reset Twelve Data's limit
                api_credit = r.headers['Api-Credits-Left']
                if api_credit == '0':
                    time.sleep(61)
                
            except:
                pass
        
        print(data_frames[-1])

    except:
        print(f"Couldn't download {ticker}.")

df_final = pd.concat([i for i in data_frames if len(i) > 0])

merge_cols = ['GICS Sector', 'GICS Sub-Industry', 'Headquarters Location', 'Date added', 'Founded'] # 'CIK'
df_model = df_final.merge(df_tickers, on='ticker', how='left')

# Only save tickers with 5 years or more data
ticker_days = df_model.groupby('ticker')['ticker'].value_counts().reset_index()
five_yrs_more = ticker_days[ticker_days['count'] >= 1825]['ticker']
df_model = df_model[df_model['ticker'].isin(five_yrs_more)]

df_model.to_csv(f'data/raw/{datetime.now().strftime("%Y-%m-%d-%H-%M-%S")}.csv', index=False)

        datetime   open      high       low     close  volume ticker
0     1996-12-02  19.15  19.15000  18.85000  19.07000  217200    EFX
1     1996-11-29  19.07  19.29000  19.07000  19.15000  127400    EFX
2     1996-11-27  19.36  19.80000  19.00000  19.00000  392700    EFX
3     1996-11-26  19.29  19.51000  19.22000  19.36000  194000    EFX
4     1996-11-25  18.71  19.51000  18.41000  19.36000  481100    EFX
...          ...    ...       ...       ...       ...     ...    ...
4202  1980-03-21   0.43   0.44000   0.43000   0.43000   12000    EFX
4203  1980-03-20   0.44   0.44000   0.44000   0.44000    2400    EFX
4204  1980-03-18   0.44   0.44000   0.44000   0.44000   19200    EFX
4205  1980-03-17   0.45   0.45000   0.44000   0.45000   57600    EFX
4206  1980-03-17   0.00   0.77604   0.76042   0.76562   57600    EFX

[4207 rows x 7 columns]
        datetime      open      high       low     close   volume ticker
0     1996-12-02  15.17000  15.24000  15.09000  15.20000  1962000    AXP
1     1996-11-29  15.42000  15.42000  15.31000  15.31000   642300    AXP
2     1996-11-27  15.57000  15.57000  15.28000  15.39000  2736000    AXP
3     1996-11-26  15.42000  15.83000  15.39000  15.53000  5562900    AXP
4     1996-11-25  15.13000  15.42000  15.13000  15.39000  4399200    AXP
...          ...       ...       ...       ...       ...      ...    ...
4995  1977-02-28   2.32540   2.34954   2.31736   2.31736  1051715    AXP
4996  1977-02-25   2.32540   2.35759   2.32540   2.32540  1318916    AXP
4997  1977-02-24   2.35759   2.35759   2.32540   2.32540  1741467    AXP
4998  1977-02-23   2.39782   2.43001   2.39782   2.39782  1121623    AXP
4999  1977-02-22   2.39782   2.41391   2.37368   2.37368   930543    AXP

[5000 rows x 7 columns]
        datetime      open      high       low     close   volume ticker
0     1996-12-02  22.31000  22.38000  21.94000  22.00000  1422000     DE
1     1996-11-29  22.50000  22.56000  22.31000  22.31000   472600     DE
2     1996-11-27  22.06000  22.56000  21.94000  22.50000  2505200     DE
3     1996-11-26  22.31000  23.00000  21.56000  22.00000  5804400     DE
4     1996-11-25  23.25000  23.44000  22.81000  23.31000  2022000     DE
...          ...       ...       ...       ...       ...      ...    ...
4995  1977-03-03   4.68750   4.72917   4.64583   4.72917  1812600     DE
4996  1977-03-02   4.68750   4.72917   4.68750   4.68750   458400     DE
4997  1977-03-01   4.66667   4.68750   4.62500   4.66667   331200     DE
4998  1977-02-28   4.66667   4.68750   4.62500   4.66667   291000     DE
4999  1977-02-25   4.70833   4.70833   4.62500   4.66667   324600     DE

[5000 rows x 7 columns]
        datetime   open   high    low  close   volume ticker
0     2024-04-19  83.77  84.29  82.31  82.46  2882800    STX
1     2024-04-18  83.79  85.20  83.31  83.44  1811700    STX
2     2024-04-17  84.95  86.30  84.04  84.20  3465900    STX
3     2024-04-16  83.54  84.71  83.02  83.68  2454000    STX
4     2024-04-15  86.68  87.10  83.30  83.88  2925200    STX
...          ...    ...    ...    ...    ...      ...    ...
4995  2004-06-17  13.85  14.00  13.62  13.95  3064400    STX
4996  2004-06-16  13.85  13.98  13.81  13.85  1713200    STX
4997  2004-06-15  13.73  13.98  13.71  13.90  2198500    STX
4998  2004-06-14  13.57  13.79  13.41  13.61  3003600    STX
4999  2004-06-10  13.45  13.92  13.42  13.57  4299300    STX

[5000 rows x 7 columns]
        datetime   open   high    low  close   volume ticker
0     1996-12-02  15.37  15.44  14.96  15.33   908400      L
1     1996-11-29  15.50  15.52  15.46  15.46   741600      L
2     1996-11-27  15.35  15.46  15.31  15.46  2677202      L
3     1996-11-26  15.73  15.73  15.25  15.35  2609402      L
4     1996-11-25  15.17  15.79  15.15  15.77  1532401      L
...          ...    ...    ...    ...    ...      ...    ...
4220  1980-03-19   0.69   0.69   0.68   0.69  1872001      L
4221  1980-03-18   0.67   0.67   0.66   0.67   855000      L
4222  1980-03-17   0.67   0.68   0.67   0.67  1044001      L
4223  1970-01-01  51.08  51.11  51.08  51.09   108360      L
4224  1969-12-31  51.08  51.11  51.08  51.09   108360      L

[4225 rows x 7 columns]
        datetime   open   high    low  close    volume ticker
0     2024-04-19  51.19  53.10  50.90  51.38  16351200    UAL
1     2024-04-18  49.22  51.88  49.20  51.42  38676000    UAL
2     2024-04-17  44.45  49.14  44.11  48.74  67541300    UAL
3     2024-04-16  40.80  41.72  40.10  41.50  18510900    UAL
4     2024-04-15  42.15  42.83  40.84  41.04  10452100    UAL
...          ...    ...    ...    ...    ...       ...    ...
4578  2006-02-09  29.80  34.98  29.51  34.50   8016600    UAL
4579  2006-02-08  31.46  32.40  30.88  32.00   8960500    UAL
4580  2006-02-07  33.90  33.90  31.73  32.99   3224600    UAL
4581  2006-02-06  34.82  34.94  33.70  33.90   1940300    UAL
4582  2006-02-06  34.82  34.94  33.70  33.90   1940300    UAL

[4583 rows x 7 columns]
        datetime       open       high        low      close   volume ticker
0     2024-04-19  143.14999  144.12000  142.55000  142.77000  5118500    UPS
1     2024-04-18  143.08000  143.31000  141.88000  142.74001  3430600    UPS
2     2024-04-17  142.50000  143.42000  141.35001  142.25000  4165700    UPS
3     2024-04-16  144.53999  144.71001  142.71001  142.89000  4197100    UPS
4     2024-04-15  145.87000  146.53999  143.42999  144.85001  3271000    UPS
...          ...        ...        ...        ...        ...      ...    ...
4995  2004-06-16   73.23000   73.29000   72.66000   73.14000  1564200    UPS
4996  2004-06-15   73.05000   73.50000   72.83000   73.14000  2211600    UPS
4997  2004-06-14   72.63000   73.21000   72.61000   72.87000  1530600    UPS
4998  2004-06-10   72.80000   73.42000   72.80000   73.19000  1662100    UPS
4999  2004-06-09   73.08000   73.25000   72.72000   72.74000  1463400    UPS

[5000 rows x 7 columns]
        datetime      open      high       low     close   volume ticker
0     2010-08-11  31.23062  31.85077  31.22093  31.40504  1107233      O
1     2010-08-10  31.47287  32.05426  31.46318  31.71512   832514      O
2     2010-08-09  31.56977  31.87016  31.34690  31.77326   478745      O
3     2010-08-06  30.83333  31.49225  30.83333  31.38566   509086      O
4     2010-08-05  31.56977  31.70543  31.25969  31.27907   489168      O
...          ...       ...       ...       ...       ...      ...    ...
3978  1994-10-24   8.35756   8.53924   8.17587   8.17587    75749      O
3979  1994-10-21   8.47868   8.53924   8.29700   8.35756    68731      O
3980  1994-10-20   8.53924   8.78149   8.47868   8.47868   141590      O
3981  1994-10-19   7.81250   8.47868   7.81250   8.41812   249950      O
3982  1994-10-18   7.75194   7.81250   7.63081   7.75194   418166      O

[3983 rows x 7 columns]
        datetime   open   high    low  close     volume ticker
0     2010-08-11  24.68  24.90  24.56  24.86   76745824   MSFT
1     2010-08-10  25.33  25.34  24.88  25.07   87257680   MSFT
2     2010-08-09  25.55  25.73  25.37  25.61   57102544   MSFT
3     2010-08-06  25.18  25.56  25.02  25.55   55985488   MSFT
4     2010-08-05  25.49  25.58  25.21  25.37   64922012   MSFT
...          ...    ...    ...    ...    ...        ...    ...
4995  1990-10-16   0.76   0.80   0.75   0.76  300888000   MSFT
4996  1990-10-15   0.78   0.81   0.77   0.78  130334400   MSFT
4997  1990-10-12   0.79   0.82   0.75   0.79  109252800   MSFT
4998  1990-10-11   0.81   0.84   0.79   0.81   83815200   MSFT
4999  1990-10-10   0.83   0.86   0.82   0.83  115596000   MSFT

[5000 rows x 7 columns]
        datetime   open   high    low  close   volume ticker
0     2024-04-19  48.75  49.31  48.63  49.12  1506400    LKQ
1     2024-04-18  48.38  48.97  48.21  48.58  1640000    LKQ
2     2024-04-17  48.96  49.00  47.85  47.91  1111000    LKQ
3     2024-04-16  48.76  48.90  48.42  48.44  1422100    LKQ
4     2024-04-15  49.90  50.13  48.99  49.03  1060800    LKQ
...          ...    ...    ...    ...    ...      ...    ...
4995  2004-06-17   2.27   2.32   2.27   2.32  1493488    LKQ
4996  2004-06-16   2.31   2.32   2.31   2.31   953232    LKQ
4997  2004-06-15   2.28   2.31   2.28   2.31   394576    LKQ
4998  2004-06-14   2.31   2.31   2.25   2.31   187560    LKQ
4999  2004-06-10   2.32   2.32   2.28   2.30   329984    LKQ

[5000 rows x 7 columns]
        datetime   open   high    low  close    volume ticker
0     2010-08-11  53.57  53.70  52.42  52.43   1796950     CB
1     2010-08-10  53.65  54.47  53.59  54.16   1773358     CB
2     2010-08-09  53.54  54.24  53.52  54.20   1540063     CB
3     2010-08-06  53.44  53.56  52.64  53.56   2107855     CB
4     2010-08-05  54.11  54.31  53.65  53.74   1514629     CB
...          ...    ...    ...    ...    ...       ...    ...
4375  1993-03-30   9.42   9.46   9.33   9.46   2520902     CB
4376  1993-03-29   9.50   9.58   9.42   9.46   2249402     CB
4377  1993-03-26   9.54   9.71   9.50   9.58   5826006     CB
4378  1993-03-25   9.67   9.71   9.46   9.54  20047520     CB
4379  1993-03-25   9.67   9.71   9.46   9.54  20047520     CB

[4380 rows x 7 columns]
        datetime      open      high     low     close   volume ticker
0     1996-12-02  14.25000  14.31000  14.120  14.19000   404400    PEG
1     1996-11-29  14.31000  14.31000  14.250  14.31000   204800    PEG
2     1996-11-27  14.31000  14.31000  14.190  14.25000   307800    PEG
3     1996-11-26  14.44000  14.44000  14.250  14.25000  1142800    PEG
4     1996-11-25  14.38000  14.44000  14.310  14.44000   388800    PEG
...          ...       ...       ...     ...       ...      ...    ...
4275  1980-01-07   6.45833   6.45833   6.375   6.45833    36600    PEG
4276  1980-01-04   6.41667   6.45833   6.375   6.45833    41100    PEG
4277  1980-01-03   6.37500   6.45833   6.375   6.41667    82500    PEG
4278  1980-01-02   6.37500   6.45833   6.375   6.37500    61800    PEG
4279  1980-01-02   6.37500   6.45833   6.375   6.37500    61800    PEG

[4280 rows x 7 columns]
        datetime      open      high       low     close   volume ticker
0     2024-04-19  80.19000  80.53000  79.31000  79.49000  2406400    FTV
1     2024-04-18  80.50000  81.16000  80.05000  80.18000  1518500    FTV
2     2024-04-17  80.71000  80.95000  79.67000  80.20000  1866000    FTV
3     2024-04-16  81.60000  81.60000  80.79000  81.04000  1012500    FTV
4     2024-04-15  83.24000  83.66000  81.25500  81.60000  1553400    FTV
...          ...       ...       ...       ...       ...      ...    ...
1957  2016-07-11  41.17992  42.87029  40.98745  42.77824  7220549    FTV
1958  2016-07-08  40.13389  42.35146  39.77406  42.00837  5070983    FTV
1959  2016-07-07  39.84937  40.16736  39.61925  39.94979  6556726    FTV
1960  2016-07-06  39.38912  40.66946  38.73640  39.95816  8014268    FTV
1961  2016-07-05  41.33891  45.47280  40.49791  40.66946  7445687    FTV

[1962 rows x 7 columns]
        datetime       open       high        low      close   volume ticker
0     2024-04-19  414.32001  417.92001  411.60999  417.01001  1159100    AMP
1     2024-04-18  413.67001  416.42001  410.54001  412.63000   365800    AMP
2     2024-04-17  414.07001  416.26999  411.20999  411.76999   518300    AMP
3     2024-04-16  411.42001  413.97000  408.76999  410.85001   583200    AMP
4     2024-04-15  420.34000  423.54999  409.19000  411.17999   589000    AMP
...          ...        ...        ...        ...        ...      ...    ...
4675  2005-09-21   36.60000   36.60000   36.00000   36.40000   424300    AMP
4676  2005-09-20   36.60000   37.00000   36.60000   36.70000   654900    AMP
4677  2005-09-19   36.60000   36.70000   36.45000   36.70000  1162300    AMP
4678  2005-09-16   37.00000   37.00000   36.60000   36.60000    62400    AMP
4679  2005-09-15   38.02000   38.10000   37.00000   37.01000  1529800    AMP

[4680 rows x 7 columns]
        datetime   open   high    low  close   volume ticker
0     2024-04-19  40.48  41.08  40.40  40.62  3467500    TPR
1     2024-04-18  40.84  41.07  40.09  40.50  3814500    TPR
2     2024-04-17  41.35  41.55  40.22  40.49  4344200    TPR
3     2024-04-16  40.53  40.95  39.98  40.86  4288000    TPR
4     2024-04-15  41.92  42.32  40.59  40.83  3084400    TPR
...          ...    ...    ...    ...    ...      ...    ...
4995  2004-06-16  21.62  21.82  21.41  21.70  2336800    TPR
4996  2004-06-15  22.09  22.10  21.45  21.55  3648400    TPR
4997  2004-06-14  22.80  22.80  22.04  22.06  2275000    TPR
4998  2004-06-10  22.55  22.90  22.48  22.85  2277000    TPR
4999  2004-06-09  22.49  22.59  22.36  22.49  2417000    TPR

[5000 rows x 7 columns]
     datetime   open   high    low  close  volume ticker
0  1970-01-01  89.97  89.97  89.87  89.87  134988    AME
        datetime   open   high    low  close     volume ticker
0     2010-08-11  39.20  39.44  38.44  39.36   21456288   QCOM
1     2010-08-10  39.50  40.00  39.08  39.78   17161710   QCOM
2     2010-08-09  38.87  39.94  38.83  39.75   18716768   QCOM
3     2010-08-06  38.20  38.98  37.95  38.65   15795059   QCOM
4     2010-08-05  38.21  38.70  38.12  38.50    8991875   QCOM
...          ...    ...    ...    ...    ...        ...    ...
4697  1991-12-19   0.57   0.57   0.55   0.55    7299200   QCOM
4698  1991-12-18   0.57   0.57   0.55   0.57   10899200   QCOM
4699  1991-12-17   0.57   0.58   0.55   0.55   16176000   QCOM
4700  1991-12-16   0.56   0.58   0.54   0.55   22585600   QCOM
4701  1991-12-13   0.53   0.59   0.52   0.56  143667200   QCOM

[4702 rows x 7 columns]
        datetime    open    high     low   close   volume ticker
0     2024-04-19  68.000  68.750  67.870  68.340  1824400    KMX
1     2024-04-18  68.830  69.670  67.720  67.910  2508400    KMX
2     2024-04-17  69.990  70.250  68.510  68.530  2110200    KMX
3     2024-04-16  69.570  70.140  68.920  69.800  3049300    KMX
4     2024-04-15  71.060  71.930  69.020  69.460  3638000    KMX
...          ...     ...     ...     ...     ...      ...    ...
4995  2004-06-16  10.975  11.000  10.795  10.800  3244000    KMX
4996  2004-06-15  11.350  11.400  11.125  11.160  2041800    KMX
4997  2004-06-14  11.255  11.410  11.185  11.185  2912800    KMX
4998  2004-06-10  11.570  11.590  11.250  11.250  2602400    KMX
4999  2004-06-09  11.230  11.895  11.225  11.570  6923400    KMX

[5000 rows x 7 columns]
        datetime     open     high      low    close   volume ticker
0     1996-12-02  27.2500  29.3750  27.1875  29.3125  2455200    WDC
1     1996-11-29  26.9375  27.0000  26.7500  26.8750   174400    WDC
2     1996-11-27  26.6250  27.1875  26.1875  26.8750   874800    WDC
3     1996-11-26  26.7500  27.5625  26.5625  26.5625  1434600    WDC
4     1996-11-25  27.1250  27.1250  26.3750  26.7500  1443000    WDC
...          ...      ...      ...      ...      ...      ...    ...
4570  1978-11-03   0.0000   1.5625   1.3125   1.3125     7400    WDC
4571  1978-11-02   0.0000   1.5625   1.3125   1.3125    23000    WDC
4572  1978-11-01   0.0000   1.4375   1.1875   1.1875    27600    WDC
4573  1978-10-31   0.0000   1.3750   1.1250   1.1250    13600    WDC
4574  1978-10-31   0.0000   1.3750   1.1250   1.1250    13600    WDC

[4575 rows x 7 columns]
        datetime   open   high    low  close   volume ticker
0     2024-04-19  58.85  60.26  58.85  60.20  1446300    BXP
1     2024-04-18  58.43  58.81  57.72  58.69   955800    BXP
2     2024-04-17  58.12  59.07  57.85  57.95  1424700    BXP
3     2024-04-16  58.21  58.45  57.06  57.98  1474400    BXP
4     2024-04-15  61.21  61.41  58.30  58.67  1333900    BXP
...          ...    ...    ...    ...    ...      ...    ...
4995  2004-06-16  45.87  45.99  45.56  45.74   293500    BXP
4996  2004-06-15  45.35  45.87  45.35  45.87   332500    BXP
4997  2004-06-14  45.89  45.90  44.76  45.21   423800    BXP
4998  2004-06-10  46.23  46.30  45.46  45.97   281400    BXP
4999  2004-06-09  46.18  46.21  45.90  46.12   349600    BXP

[5000 rows x 7 columns]
        datetime   open   high    low  close   volume ticker
0     1996-12-02  20.26  20.26  19.93  20.17   163200   CTAS
1     1996-11-29  20.26  20.26  20.01  20.01    46800   CTAS
2     1996-11-27  20.42  20.42  20.09  20.26   232200   CTAS
3     1996-11-26  20.34  20.50  20.17  20.42   159300   CTAS
4     1996-11-25  20.34  20.50  20.34  20.34    72000   CTAS
...          ...    ...    ...    ...    ...      ...    ...
3308  1983-08-24   0.95   0.97   0.95   0.95   819000   CTAS
3309  1983-08-23   0.95   0.95   0.95   0.95  1972800   CTAS
3310  1983-08-22   0.95   0.96   0.95   0.95  1621800   CTAS
3311  1983-08-19   0.94   0.96   0.94   0.94  1996200   CTAS
3312  1970-01-01  84.92  85.01  84.51  84.85    30215   CTAS

[3313 rows x 7 columns]
        datetime   open   high    low  close   volume ticker
0     2024-04-19  70.22  71.31  70.03  71.11  3345300    MET
1     2024-04-18  69.41  70.15  69.33  69.95  2823600    MET
2     2024-04-17  69.31  69.68  68.58  68.92  2650900    MET
3     2024-04-16  69.57  69.64  68.71  68.93  3330300    MET
4     2024-04-15  71.22  71.67  69.25  69.44  2722400    MET
...          ...    ...    ...    ...    ...      ...    ...
4995  2004-06-16  32.08  32.08  31.62  31.62  1494100    MET
4996  2004-06-15  32.08  32.35  31.82  31.95  1711800    MET
4997  2004-06-14  32.13  32.24  31.86  32.01  1256300    MET
4998  2004-06-10  31.95  32.20  31.89  32.13   919200    MET
4999  2004-06-09  32.21  32.38  31.85  31.87  1606600    MET

[5000 rows x 7 columns]
        datetime      open      high       low     close   volume ticker
0     1996-12-02  15.06000  15.44000  15.03000  15.41000  2610400    HAL
1     1996-11-29  15.06000  15.09000  15.03000  15.06000   340000    HAL
2     1996-11-27  15.22000  15.34000  14.97000  15.03000  1673600    HAL
3     1996-11-26  15.84000  15.88000  14.84000  15.16000  3366000    HAL
4     1996-11-25  15.59000  15.91000  15.56000  15.69000  3002800    HAL
...          ...       ...       ...       ...       ...      ...    ...
4995  1977-03-02   6.79020   6.79020   6.68596   6.70085   478400    HAL
4996  1977-03-01   6.64129   6.79020   6.64129   6.79020   401200    HAL
4997  1977-02-28   6.64129   6.64129   6.53705   6.61151   818400    HAL
4998  1977-02-25   6.58173   6.67107   6.58173   6.62640   397600    HAL
4999  1977-02-24   6.64129   6.67107   6.55194   6.58173   410400    HAL

[5000 rows x 7 columns]
        datetime   open   high    low  close   volume ticker
0     1996-12-02  26.06  26.56  25.75  26.56  1780800    KEY
1     1996-11-29  26.19  26.38  26.12  26.19   717800    KEY
2     1996-11-27  25.62  26.44  25.56  26.38  2350200    KEY
3     1996-11-26  25.69  25.81  25.25  25.25  1318200    KEY
4     1996-11-25  25.12  25.62  24.94  25.62  1455000    KEY
...          ...    ...    ...    ...    ...      ...    ...
4219  1980-03-19   1.94   2.03   1.94   1.94     8000    KEY
4220  1980-03-18   1.94   2.03   1.94   1.94    36800    KEY
4221  1980-03-17   1.94   2.03   1.94   1.94    97600    KEY
4222  1980-03-17   1.94   2.03   1.94   1.94    97600    KEY
4223  1980-03-16   1.94   2.03   1.94   1.94    97600    KEY

[4224 rows x 7 columns]
        datetime   open   high    low  close  volume ticker
0     1996-12-02   1.90   1.91   1.89   1.90  181199    CHD
1     1996-11-29   1.88   1.89   1.88   1.88   85199    CHD
2     1996-11-27   1.88   1.89   1.86   1.88  122399    CHD
3     1996-11-26   1.88   1.89   1.85   1.85  194399    CHD
4     1996-11-25   1.88   1.91   1.88   1.88  217198    CHD
...          ...    ...    ...    ...    ...     ...    ...
4058  1980-03-24   0.17   0.19   0.17   0.17   48599    CHD
4059  1980-03-21   0.17   0.19   0.17   0.17   32399    CHD
4060  1980-03-18   0.17   0.19   0.17   0.17   80999    CHD
4061  1980-03-17   0.17   0.19   0.17   0.17  113399    CHD
4062  1970-01-01  72.86  72.86  72.77  72.78  443354    CHD

[4063 rows x 7 columns]
        datetime      open      high       low     close   volume ticker
0     1996-12-02  33.38000  33.56000  33.06000  33.50000  2081600    CVX

OSError: [Errno 22] Invalid argument: 'data/raw/2024-04-21 02:06:13.csv'

In [19]:
# List files in the directory
directory = 'data/raw/'
files = os.listdir(directory)

l_all_raw = []
for i in files:
    l_all_raw.append(pd.read_csv(f'{directory}{i}'))

df_out = pd.concat(l_all_raw).drop_duplicates(subset=['datetime', 'ticker']) 
ticker_days = df_out.groupby('ticker')['ticker'].value_counts().reset_index()

# Only include tickers with 5 years or more observations
five_yrs_more = ticker_days[ticker_days['count'] >= 1825]['ticker']
df_out = df_out[df_out['ticker'].isin(five_yrs_more)]

df_out.to_csv('data/data.csv', index_label=False)
df_out

C:\Users\18327\AppData\Local\Temp\ipykernel_8980\3583801672.py:7: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  l_all_raw.append(pd.read_csv(f'{directory}{i}'))
C:\Users\18327\AppData\Local\Temp\ipykernel_8980\3583801672.py:7: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  l_all_raw.append(pd.read_csv(f'{directory}{i}'))

,datetime,open,high,low,close,volume,ticker,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,2024-04-19,24.92,25.01,24.72,24.78,490400.0,NWS,News Corp (Class B),Communication Services,Publishing,"New York City, New York",2015-09-18,1564708.0,2013 (News Corporation 1980)
1,2024-04-18,24.93,25.37,24.75,24.81,659100.0,NWS,News Corp (Class B),Communication Services,Publishing,"New York City, New York",2015-09-18,1564708.0,2013 (News Corporation 1980)
2,2024-04-17,25.00,25.09,24.92,24.95,969800.0,NWS,News Corp (Class B),Communication Services,Publishing,"New York City, New York",2015-09-18,1564708.0,2013 (News Corporation 1980)
3,2024-04-16,24.84,24.99,24.67,24.82,531200.0,NWS,News Corp (Class B),Communication Services,Publishing,"New York City, New York",2015-09-18,1564708.0,2013 (News Corporation 1980)
4,2024-04-15,25.35,25.49,24.95,25.00,685800.0,NWS,News Corp (Class B),Communication Services,Publishing,"New York City, New York",2015-09-18,1564708.0,2013 (News Corporation 1980)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1784206,1980-03-20,2.19,2.23,2.19,2.19,387000.0,TT,Trane Technologies,Industrials,Building Products,"Dublin, Ireland",2010-11-17,1466258.0,1871
1784207,1980-03-19,2.24,2.27,2.24,2.24,1092000.0,TT,Trane Technologies,Industrials,Building Products,"Dublin, Ireland",2010-11-17,1466258.0,1871
1784208,1980-03-18,2.26,2.27,2.23,2.26,882000.0,TT,Trane Technologies,Industrials,Building Products,"Dublin, Ireland",2010-11-17,1466258.0,1871
1784209,1980-03-17,2.23,2.30,2.23,2.23,549000.0,TT,Trane Technologies,Industrials,Building Products,"Dublin, Ireland",2010-11-17,1466258.0,1871
1784211,1980-03-16,2.23,2.30,2.23,2.23,549000.0,TT,Trane Technologies,Industrials,Building Products,"Dublin, Ireland",2010-11-17,1466258.0,1871